<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>

    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>-->
    <httpRuntime/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Login/Login" slidingExpiration="true" loginUrl="~/Login/Login" timeout="30" />
    </authentication>
    <sessionState timeout="30" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
   
   
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionstrings> --><!--mdf connction--><!--
  <add name="adminentities" connectionstring="metadata=res://*/models.admin.csdl|res://*/models.admin.ssdl|res://*/models.admin.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=(localdb)\v11.0;attachdbfilename=|datadirectory|\admin.mdf;integrated security=true;connect timeout=30;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient"/>
    <add name="freightentities" connectionstring="metadata=res://*/models.freight.csdl|res://*/models.freight.ssdl|res://*/models.freight.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=(localdb)\v11.0;attachdbfilename=|datadirectory|\freight.mdf;integrated security=true;connect timeout=30;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient"/>
  </connectionstrings>-->
  
  <!--<connectionStrings><add name="AdminEntities" connectionString="metadata=res://*/Models.Admin.csdl|res://*/Models.Admin.ssdl|res://*/Models.Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUPER-PC\SQLEXPRESS;initial catalog=Admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="FreightEntities" connectionString="metadata=res://*/Models.Freight.csdl|res://*/Models.Freight.ssdl|res://*/Models.Freight.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUPER-PC\SQLEXPRESS;initial catalog=Freight;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>-->
  
  <!--BeriCap db serever connection-->
  <connectionStrings>
    <add name="AdminEntities" connectionString="metadata=res://*/Models.Admin.csdl|res://*/Models.Admin.ssdl|res://*/Models.Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BCINSRV102\FinanceDB;initial catalog=Admin;user id=sa;password=Ext!ngu!sh@r@410507;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FreightEntities" connectionString="metadata=res://*/Models.Freight.csdl|res://*/Models.Freight.ssdl|res://*/Models.Freight.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BCINSRV102\FinanceDB;initial catalog=Freight;user id=sa;password=Ext!ngu!sh@r@410507;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>