@{
    ViewBag.Title = "Index";
}
 
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Appliaction Catalog</legend>
    
    <input type="submit" name="app" value= "Score Card"/>
     <input type="submit" name="app" value= "Application Maintenance" />
        </fieldset>
}
@*<div>
    <div class="tile app">Score Card</div>
    <div class="tile app">Application Maintenance</div>
</div>
}  

<script type="text/javascript">

   // alert("Inside");
    $(document).ready(function () {
    $(".app").click(function () {
        var app = $(this).text();
        appval = app;
            alert(appval);
            $("#appval").val(appval);


        });
    });

    </script>*@